NEXT_PUBLIC_SITE_URL=https://cejasinternacionales.com
NEXT_PUBLIC_WHATSAPP_NUMBER=34603804837
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hola, quiero reservar o pedir información sobre micropigmentación en Cejas Internacionales.
NEXT_PUBLIC_INSTAGRAM_URL=
