# Secretos / entorno
.env
.env.local
.env*.local

# Dependencias
node_modules/

# Build Next.js
.next/
out/
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo

# Editor
.vscode/
.idea/
